#messages {
  overflow-y: auto;
}

#messages #content {
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.message {
  background: #fff;
  margin-bottom: 10px;
  padding: 5%;
  border: 1px solid #ddd;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  line-height: 1.5;
  position: relative;
}

.message .author {
  font-weight: 700;
}

.message .date {
  color: #333;
  font-size: 12px;
  float: right;
  margin-bottom: 5%;
}

.message .body {
  margin: 8% 5% 8% 5%;
  color: #4d4c7d;
  font-size: 0.9rem;
  text-align: center;
}

.userImageMessage {
  height: 50px;
  width: 50px;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  margin: 0 2% 0 0;
  position: absolute;
}

.usrInfo {
  margin-left: 13%;
}

.user,
.location,
.eventDate,
.eventTime {
  font-weight: bold;
  font-size: 1rem;
}

.eventTime {
  color: #00bdaa;
}

.eventDate {
  color: #be79df;
}

.location {
  color: tomato;
}

.summaryText {
  color: grey;
}

@media (max-width: 780px) {
  .usrInfo {
    margin-left: 16%;
  }
  .message .body {
    margin: 15% 5% 15% 5%;
  }
}

@media (max-width: 530px) {
  .message {
    padding-bottom: 8%;
  }
  .usrInfo {
    margin-left: 18%;
    font-size: 0.9rem;
  }
}

@media (max-width: 450px) {
  .usrInfo {
    margin-left: 22%;
  }
  .message .body {
    margin: 20% 5% 20% 5%;
  }
}

@media (max-width: 375px) {
  .usrInfo {
    margin-left: 26%;
  }
}
